@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: darkblue;
  

}
#link_button{
  padding-right: 23px;
  z-index:99999 !important;
}
#left{
  margin-left:20% !important;
}
#support{
  margin:0 400px;
  z-index:214122141212 !important;
  position: absolute;
}
#logo{
  font-size:60px !important;
}
h1 {
 color:white;
 padding-top:40px;
 font-family:Century Gothic, sans;
 font-size:80;
 font-weight:bolder;
}

#blogHeader{
  font-size: 27.5pt !important;
}
hr.new1 {
  border-top: 2pt solid hotpink;
  width:153.6px;
  float: left;
  margin-bottom: 5px;
}
#BlogDate{
  font-size: 10pt;
  color: gainsboro;
  opacity: 0.69;
  margin-bottom:0rem !important;

}
#BlogText{
  padding-top: 25px;
  font-size: 15pt;

}
p {
 color:white;
 font-size:16;
}
.btn{
    border-radius: 100px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    border-color:hotpink;
    background-color: hotpink !important;
    width: 150px !important;
}
.rightimg  {
  float: right; 
  margin: 7px 0 7px 7px; 
  width: 360px;
  height: 240px;
 }
#HomeButton
{
  margin-right:40px !important;
}
#logoPicture{
   margin-top:100px;
   height:950px;
   width:100%;
   object-fit: cover;
   position: absolute;
}

a{
 color: white;

 
}
#mid{
	padding-top:40%;
}

#leftText{
  text-align: left !important;
}

.img-fluid{
	padding-top:50px;
}

.serviceBox{
 border: 1px solid hotpink;
 margin-top: 30px;
 padding: 25px 20px;
 position: relative;
}



.serviceBox .title{
 font-size: 24px;
 color: white;
  text-align:left;
 
 
}
.serviceBox .description{
 font-size: 16px;
 color: white;
 line-height: 25px;
 font-style: italic;
 font-weight:bolder;
 text-align:left;
 
}
#more{
  font-style: italic;
  margin-left: 300px;
}  

#low{
 font-style: italic;
 font-weight:bolder;
 margin-top: 40px;
}

#num{
	font-style: normal;
	font-size:60px;
}