@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
/* The emerging W3C standard that is currently Firefox-only */
* {
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: darkblue;
  color: white;
}

pre {
  color: white;
}

a {
  text-decoration: underline;
  color: white;
}

a:hover {
  color: white;
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
}

.article-img {
  height: 189px;
  object-fit: scale-down;
}

.bg-white .h1,
.bg-white .h2,
.bg-white .h3,
.bg-white .h4,
.bg-white .h5,
.bg-white .h6,
.bg-white h1,
.bg-white h2,
.bg-white h3,
.bg-white h4,
.bg-white h5,
.bg-white h6 {
  color: darkblue;
}

.bg-white,
.bg-white a,
.bg-white a:hover {
  color: black;
}

.bg-white a.button-main,
.bg-white a.button-main:hover {
  color: white;
}

.support-modal.article-modal .modal-content {
  background-color: white;
  color: black;
}

.support-modal.article-modal .modal-content a {
  color: black;
}

.support-modal.article-modal .close,
.support-modal.article-modal .close:hover {
  color: black;
}

.bg-white .form-field,
.article-modal .form-field {
  background-color: white;
  color: black;
  border: 2px solid hotpink;
}

.bg-white .form-field:focus,
.article-modal .form-field:focus {
  color: black;
}

.logo-picture {
  height: 1105px;
  width: 100%;
  position: absolute;
}

#mid {
  padding-top: 600px;
}

.columns {
  column-count: 2;
  column-gap: 30px;
}

button:focus {
  box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5) !important;
  outline: 0;
}

.cookie-banner {
  width: 50% !important;
  left: 50% !important;
  transform: translate(-50%, 0);
  bottom: 25px !important;
  border-radius: 25px !important;
}

.footer {
  position: relative;
}

.z-index-1 {
  z-index: 1;
}

.recaptcha-protected {
  text-align: center;
  font-size: 0.8rem;
  color: darkblue;
}

.recaptcha-protected a,
.recaptcha-protected a:hover {
  color: darkblue;
  text-decoration: underline;
}

.smaller {
  font-size: smaller;
}

.content-padding {
  padding-top: 197px;
}

.contact-info p:first-child {
  margin-bottom: 0;
}

.contact-address p:first-child {
  margin-bottom: 0;
}

.shape-left-up {
  background: url(../images/shape-left-up.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: left;
  background-size: contain;
  position: absolute;
  height: 230px;
  width: 100%;
  top: 0;
  left: 0;
}

.shape-right-up {
  background: url(../images/shape-right-up.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: right;
  background-size: contain;
  position: absolute;
  height: 270px;
  width: 100%;
  top: 0;
  right: 0;
}

.shape-left-down {
  background: url(../images/shape-left-down.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: left;
  background-size: contain;
  position: absolute;
  height: 299px;
  width: 100%;
  bottom: 0;
  left: 0;
}

.shape-right-down {
  background: url(../images/shape-right-down.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: right;
  background-size: contain;
  position: absolute;
  height: 242px;
  width: 100%;
  bottom: 0;
  right: 0;
}

.article-bg {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.grecaptcha-badge {
  opacity: 0;
  visibility: hidden;
}

.logo {
  color: #ffffff;
  font-size: 64px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: bold;
  line-height: 1.25;
}

.logo a {
  text-decoration: none;
}

.partner-logo {
  padding-left: 5px;
}

header.header-transparent {
  background-color: transparent;
}

.header-visible {
  visibility: visible;
  transition: all 200ms ease-in;
  transform: none;
  position: fixed;
  background-color: darkblue;
  z-index: 2;
  width: 100vw;
  top: 0;
  padding-bottom: 15px;
}

.header-hidden {
  visibility: hidden;
  transition: all 200ms ease-out;
  transform: translate(0, -100%);
  position: fixed;
  background-color: transparent;
  z-index: 2;
  width: 100vw;
  top: 0;
  padding-bottom: 15px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
}

.menu-icon {
  padding-right: 3px;
}

.menu-icon div {
  width: 15px;
  height: 1px;
  background-color: darkblue;
  margin: 3px 0;
}

.menu-toggle {
  display: none;
}

/* GOOGLE MAPS */
.map-wrapper {
  height: 225px;
  width: 100%;
}

.map-wrapper > div > div {
  border-radius: 15px;
}

.map {
  position: relative;
}

.map-icon {
  background: rgba(0, 0, 0, 0)
    url("https://maps.gstatic.com/mapfiles/embed/images/entity11.png") repeat
    scroll 0px 0px/70px 210px padding-box border-box;
  height: 22px;
  width: 22px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5px;
}

.map-link {
  position: absolute;
  top: 0;
  background-color: white;
  display: block;
  padding: 0.75rem;
  font-size: 0.75rem;
}

.placecard__container {
  max-width: 330px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
}

.placecard__left {
  float: left;
  width: 75%;
}

.placecard__right {
  text-align: center;
  float: left;
  width: 25%;
}

.placecard__business-name {
  color: black;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 200px;
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}

.placecard__info {
  color: black;
  height: 32px;
  font-size: 0.75rem;
  font-weight: 400;
  margin: 6px 0px 0px;
}

.placecard__direction-icon {
  background: rgba(0, 0, 0, 0)
    url("https://maps.gstatic.com/mapfiles/embed/images/entity11.png") repeat
    scroll 0px 0px/70px 210px padding-box border-box;
  height: 22px;
  width: 22px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5px;
}

.placecard__direction-link {
  color: #3a84df;
  display: block;
  height: 43px;
}

.placecard__direction-link:hover {
  color: #3a84df;
  text-decoration: underline;
}

.placecard__view-large {
  display: block;
  margin-top: 10px;
  color: #3a84df;
}

.placecard__view-large:hover {
  color: #3a84df;
  text-decoration: underline;
}
/* GOOGLE MAPS */

.form-label {
  text-transform: capitalize;
}

.form-field {
  background-color: rgba(255, 255, 255, 0.26);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 100px;
  min-height: 32px;
  height: auto;
  line-height: 1;
  padding: 3px 0.75rem;
}

.form-field:focus {
  background-color: rgba(255, 255, 255, 0.26);
  color: white;
}

.link_button {
  padding: 10px;
  text-decoration: none;
}

#avast {
  height: 80px;
  width: 250px;
  float: left;
  margin-bottom: 20px;
}
#smallText {
  font-weight: normal;
  font-size: 9pt;
  color: white;
  margin-bottom: -20px !important;
  margin-top: -5px !important;
  text-align: center;
}
#gdata {
  height: 119px;
  width: 256px;
  float: left;
}
#headerText {
  text-align: left;
}
#blogNextHeader {
  color: white;
  padding-top: 40px;
  font-weight: bolder;
  font-size: 28pt;
  margin-bottom: 40px;
  text-align: center;
}

#h1Text {
  color: white;
  padding-top: 40px;
  font-weight: bolder;
  font-size: 28pt;
  margin-bottom: 30px;
  text-align: center;
}
#ForHome {
  float: left;
  margin-right: 40px;
}
#ForBusiness {
  float: left;
  margin-bottom: 35px;
}
#productText {
  text-align: left;
  float: left;
}
#left {
  margin-left: 20% !important;
}

.support-modal .modal-header {
  border-bottom: none;
}

.support-modal .modal-header .modal-title {
  margin: 0 auto;
}

.support-modal .modal-footer {
  border-top: none;
}

.support-modal .modal-content {
  background-color: darkblue;
  color: white;
}
.support-modal .close {
  opacity: 1;
  color: white;
  position: absolute;
  right: 15px;
}
.support-modal .close:hover {
  opacity: 0.5;
  color: white;
}
.support-modal .modal-footer {
  flex-wrap: nowrap;
  flex-direction: column;
}
.support-modal .download-button a {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.support-modal .download-button span {
  position: absolute;
  top: 10px;
  left: 55px;
  font-size: 14px;
  line-height: 1.2em;
  font-weight: bold;
  text-align: center;
  width: 174px;
}

#Soodus {
  width: 362px;
}
#Zagolovok {
  text-align: center;
  padding-left: 40%;
}
#language {
  float: right;
}
.apple {
  width: 154px;
  height: 154px;
  display: block;
  margin: 0 auto;
}
.windows {
  width: 173px;
  height: 173px;
  display: block;
  margin: 0 auto;
}
#eset-nod32 {
  display: block;
  margin: 0 auto;
  widows: 300px;
  height: 300px;
  margin-top: 40px;
}
#productName {
  font-size: 19pt !important;
  text-align: center;
  font-weight: 600;
}
#systemName {
  font-size: 30pt !important;
  text-align: center;
  font-weight: 600;
  margin-bottom: 90px;
  margin-left: 20px;
}
#productButton {
  border-color: white;
  background-color: white !important;
  color: #00008b;
  width: 140px !important;
  margin-left: 20px;
  margin-bottom: 30px;
}

#dropdownMenuRight {
  float: right;
  color: white;
  font-weight: bolder;
  list-style-type: none;
  margin-top: 95px;
}

.facebook-button {
  height: 30px;
  width: 30px;
  object-fit: contain;
}

.language-menu {
  font-weight: bold;
  margin: 0;
  padding: 0 15px;
  list-style: none;
}

.language-menu a {
  text-decoration: none;
}

.language-active a {
  color: #a5bcfd;
}

.language-menu li {
  display: inline-block;
  text-transform: uppercase;
  padding: 5px;
}

#dropdownMenuButton {
  float: right;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border-radius: 100px;
  width: 50px !important;
  border-color: darkblue !important;
  background-color: darkblue !important;
}

#dropdownLanguage {
  float: right;
}

#secondButton {
  margin-left: 35px;
  width: 210px !important;
}
#firstButton {
  margin-left: 20px;
  width: 210px !important;
}
#NBtext {
  color: red;
  font-size: 22pt;
}
#shopText {
  column-count: 2;
  column-gap: 2em;
}

.language-arrow {
  height: 10px;
  margin-left: 6px;
}

@media (max-width: 1541px) {
  #mid {
    padding-top: 40%;
  }

  .shape-left-down {
    height: 180px;
  }

  .shape-right-down {
    height: 180px;
  }
}

@media (max-width: 1200px) {
  .shape-left-down {
    height: 180px;
  }

  .shape-right-down {
    height: 180px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .shape-left-up {
    height: 200px;
  }

  .shape-right-up {
    height: 200px;
  }

  .shape-left-down {
    height: 180px;
  }

  .shape-right-down {
    height: 180px;
  }

  .buttonMobile #productButton {
    color: rgb(0, 0, 139);
    background-color: white !important;
    width: 100px !important;
    border-color: white;
    margin-left: 5px;
    margin-bottom: 10px;
  }
  .buttonMobile #firstButton {
    margin-left: 5px;
    width: 153px !important;
    margin-bottom: 60px;
  }
  .buttonMobile #secondButton {
    margin-left: 5px;
    width: 153px !important;
    margin-bottom: 60px;
  }

  #ForHome {
    float: left;
    margin-right: 5px;
    width: 145px !important;
  }
  #ForBusiness {
    float: right;
    width: 145px !important;
    margin-bottom: 35px;
  }
}

@media (max-width: 991px) {
  .logo {
    font-size: 48px;
    line-height: 1;
  }

  .header-visible {
    padding: 15px 0;
  }

  .menu {
    display: none;
  }

  body.menu-open {
    overflow: hidden;
  }

  header.menu-open {
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    overflow-y: auto;
  }

  header.menu-open .close-menu {
    position: relative;
    width: 24px;
    height: 24px;
  }

  header.menu-open .close-menu:before,
  header.menu-open .close-menu:after {
    position: absolute;
    left: 9.5px;
    content: " ";
    height: 24px;
    width: 5px;
    background-color: darkblue;
    border-radius: 100px;
  }

  header.menu-open .close-menu:before {
    transform: rotate(45deg);
  }

  header.menu-open .close-menu:after {
    transform: rotate(-45deg);
  }

  header.menu-open .header-column {
    min-height: 108px;
  }

  header.menu-open .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  header.menu-open .menu a {
    color: darkblue;
    text-transform: uppercase;
  }

  header.menu-open .language-menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header.menu-open .language-menu li {
    color: darkblue;
  }

  header.menu-open .language-menu a {
    color: darkblue;
  }

  header.menu-open .language-menu .language-active a {
    color: #a5bcfd;
  }

  header.menu-open .facebook-link {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-links {
    flex-direction: column;
  }

  .header-links .menu-toggle .button-main,
  .header-links .menu-toggle .button-main:active,
  .header-links .menu-toggle .button-main:not(:disabled):not(.disabled):active {
    background-color: #ffffff;
    border-color: #ffffff;
    color: darkblue;
  }

  .header-links .facebook-link {
    display: none;
  }

  .header-links .language-menu {
    display: none;
  }

  .menu-toggle {
    display: block;
    margin-bottom: 10px;
  }

  .cookie-banner {
    width: calc(100% - 30px) !important;
    bottom: 0 !important;
    border-radius: 25px 25px 0 0 !important;
  }

  .cookie-banner--text {
    flex: 1 0 200px !important;
  }
}

@media (max-width: 768px) {
  .shape-left-up {
    height: 160px;
  }

  .shape-right-up {
    height: 160px;
  }

  .shape-left-down {
    height: 160px;
  }

  .shape-right-down {
    height: 160px;
  }

  .columns {
    column-count: 1;
  }

  .button-main {
    min-width: 117px !important;
  }

  .logo-mobile-picture {
    transform: scale(1.5);
    margin: 4rem 0;
  }

  #mid {
    padding-top: 0;
  }

  #dropdownMenuRight {
    float: right;
    color: white;
    font-weight: bolder;
    list-style-type: none;
    margin-top: 20px !important;
  }

  #h1Text {
    color: white;
    padding-top: 40px;
    font-weight: bolder;
    font-size: 23pt;
    margin-bottom: 30px;
    text-align: center;
  }

  #containerRight {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .header-links .menu-toggle .button-main,
  .button-main.button_support {
    border-radius: 100px;
    min-width: 84px;
    font-size: 13px;
  }

  #language {
    display: none;
  }

  #ForHome {
    float: left;
    margin-right: 5px;
    width: 145px !important;
  }
  #ForBusiness {
    float: right;
    width: 145px !important;
    margin-bottom: 35px;
  }

  #shopText {
    column-count: 1;
    column-gap: 1em;
  }
  #Soodus {
    width: 100%;
  }
  .buttonMobile #productButton {
    color: rgb(0, 0, 139);
    background-color: white !important;
    width: 100px !important;
    border-color: white;
    margin-left: 5px;
    margin-bottom: 10px;
  }
  .buttonMobile #firstButton {
    margin-left: 5px;
    width: 153px !important;
    margin-bottom: 60px;
  }
  .buttonMobile #secondButton {
    margin-left: 5px;
    width: 153px !important;
    margin-bottom: 60px;
  }

  #low {
    font-style: italic;
    font-weight: bolder;
    text-align: center;
    margin-top: 10px !important;
  }
}

@media (max-width: 576px) {
  header.menu-open .header-column {
    min-height: 72px;
  }
  .shape-left-up {
    height: 120px;
  }
  .shape-right-up {
    height: 120px;
  }
  .shape-left-down {
    height: 120px;
  }
  .shape-right-down {
    height: 120px;
  }
  .logo {
    font-size: 48px;
  }
  ul {
    margin-top: 0;
    margin-bottom: 0px !important;
  }
}

@media (max-width: 375px) {
}

.eset {
  width: 230px;
  height: 172px;
}
#center {
  display: block;
  margin: 0 auto;
}

#underHeader {
  font-size: 11pt;
  font-weight: normal;
}
.vl {
  border-left: 1px solid rgb(121, 123, 130);
  height: 46px;
  margin-top: -50px;
  margin-left: 108px;
}
#itButton {
  margin-top: 20px;
}
#bigSize {
  color: white;
  padding-top: 40px;
  font-weight: bolder;
  font-size: 2.5rem;
  margin-bottom: 10px;
}
#headerBigCenter {
  color: white;
  padding-top: 40px;
  font-weight: bolder;
  font-size: 2.5rem;
  margin-bottom: 40px;
}
#centerButton {
  margin-left: 16px;
  margin-top: 16px;
}
#rightBord {
  float: right;
  text-align: right;
  margin-top: -46px !important;
  margin-right: 13px !important;
}
#leftBoard {
  margin-right: 107px;
}

#blogHeader {
  font-size: 27.5pt !important;
}
hr.new1 {
  border-top: 2pt solid hotpink;
  width: 153.6px;
  float: left;
  margin-bottom: 5px;
}
#BlogDate {
  font-size: 10pt;
  color: gainsboro;
  opacity: 0.69;
  margin-bottom: 0rem !important;
}
#BlogText {
  padding-top: 25px;
  font-size: 15pt;
}

.header-underline {
  border: 4px solid hotpink;
  border-radius: 100px;
  width: 150px;
  display: inline-block;
}

.button-main {
  border-radius: 100px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-color: hotpink;
  background-color: hotpink;
  color: white;
  text-decoration: none;
  min-width: 150px;
  font-weight: bold;
}

.button-main:hover,
.button-main:active,
.button-main:focus,
.button-main:not(:disabled):not(.disabled):active {
  color: white;
  background-color: hotpink;
  border-color: hotpink;
  text-decoration: none;
}

.button-main:disabled {
  color: #fff;
  background-color: hotpink;
  border-color: hotpink;
  cursor: wait;
}

.rightimg {
  float: right;
  margin: 7px 0 7px 7px;
  width: 360px;
  height: 240px;
}
#HomeButton {
  margin-right: 40px !important;
}

#leftText {
  text-align: left !important;
}

.img-fluid {
  padding-top: 50px;
}

.serviceBox {
  border: 1px solid hotpink;
  margin-top: 30px;
  padding: 25px 20px;
  position: relative;
}

.serviceBox .title {
  font-size: 24px;
  color: white;
  text-align: left;
}
.serviceBox .description {
  font-size: 16px;
  color: white;
  line-height: 25px;
  font-style: italic;
  font-weight: bolder;
  text-align: left;
}
#more {
  font-style: italic;
  margin-left: 300px;
}

#hard {
  font-weight: bold;
  text-align: center;
}
#leftCorner {
  float: left;
  text-align: left;
}

thead,
tbody {
  vertical-align: inherit;
}

th {
  text-align: center;
  color: white;
  background-color: darkblue;
}

th .h1,
th .h2,
th .h3,
th .h4,
th .h5,
th .h6,
th h1,
th h2,
th h3,
th h4,
th h5,
th h6 {
  color: white !important;
}

#headerNname {
  text-align: left;
  font-size: 22pt !important;
  font-weight: 600;
  margin-top: 60px;
}

.slick-slider .slick-prev {
  left: 0;
}

.slick-slider .slick-next {
  right: 0;
}

.slick-slider .slick-prev,
.slick-slider .slick-next {
  z-index: 1;
  top: 55px;
  color: white;
  width: 40px;
  height: 40px;
}

.slick-slider .slick-prev:hover,
.slick-slider .slick-prev:focus,
.slick-slider .slick-next:hover,
.slick-slider .slick-next:focus {
  color: white;
}

.card {
  border-radius: 0;
  border: 0;
}

.card p {
  margin: 0;
}

.card .card-header {
  color: white;
  border-radius: 0;
  border: 0;
  min-height: 115px;
  padding: 0.75rem 1rem;
}

.card .card-header.bg-darkblue {
  background-color: darkblue;
}

.card .card-header.bg-hotpink {
  background-color: hotpink;
}

.card-header .h1,
.card-header .h2,
.card-header .h3,
.card-header .h4,
.card-header .h5,
.card-header .h6,
.card-header h1,
.card-header h2,
.card-header h3,
.card-header h4,
.card-header h5,
.card-header h6 {
  color: white;
}

.card-body {
  border-bottom: 2px solid rgba(127, 177, 223, 0.3);
  padding: 1rem;
}

.card-body:last-child {
  border-bottom: 0;
}

.card-footer {
  border-top: none;
  background-color: white;
}

.card-footer button {
  margin: 0 !important;
}
