@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: darkblue;
  

}
#link_button{
  padding-right: 23px;
  z-index:99999 !important;
}
#avast{
  height: 80px;
  width: 250px;
  float:left;
  margin-bottom: 20px;

}
#smallText{
  font-weight: normal;
  font-size:9pt;
  color:white;
  margin-bottom: -20px !important;
  margin-top: -5px !important;
  text-align: center;
}
#gdata{
  height: 119px;
  width: 256px;
  float:left;

}
#headerText{
  text-align: left;
}
#ForHome{
  float:left;
  margin-right: 40px;
  margin-bottom: 60px;
}
#ForBusiness{
  float:left;
}
#productText{
  text-align: left;
  float:left;
}
#left{
  margin-left:20% !important;
}
#support{
  float: right;
  z-index: 99999 !important;
  border-radius: 100px;
  border-color: hotpink;
  background-color: hotpink !important;
  width: 150px !important;
  color: white;
  border-width: 0px;
  margin-right: 20px;
}
#Soodus{
  width: 362px;
}
#Zagolovok{
  text-align: center;
  padding-left: 40%;
  
}
#language{
  float: right;
}
.apple{
  width: 154px;
  height: 154px;
  display: block;
  margin: 0 auto;
}
.windows{
  width: 173px;
  height: 173px;
  display: block;
  margin: 0 auto;
}
#eset-nod32{
  display: block;
  margin: 0 auto;
  widows: 300px;
  height: 300px;
}
#productName{
  font-size: 19pt !important;
  text-align: center;
  font-weight: 600;
}
#systemName{
  font-size: 30pt !important;
  text-align: center;
  font-weight: 600;
  margin-bottom: 90px;
  margin-left: 20px;
}
#productButton{
  border-color: white;
  background-color: white !important;
  color:#00008b;
  width:117px !important;
  margin-left: 40px;
  margin-bottom: 30px;
  
}
#secondButton{
  float:right;
  margin-right: 50px;
  margin-bottom: 50px;
  width:180px !important;
}
#firstButton{
  margin-left:40px;
  width:180px !important;
}
#NBtext{
  color: red;
  font-size: 22pt;
}
#shopText{
  column-count: 2;
  column-gap: 2em;
}
#logo{
  font-size:60px !important;
}
.eset{
  width:230px;
  height: 172px;
}
#center{
  display: block;
  margin: 0 auto;
}

#underHeader{
  font-size: 11pt;
  font-weight: normal;
}
.vl {
  border-left: 1px solid rgb(121, 123, 130);
  height: 46px;
  margin-top: -50px;
  margin-left: 108px;
}
#itButton{
  margin-top:20px;
}
#bigSize{
   color: white;
    padding-top: 40px;
    font-family: "Century Gothic", sans;
    font-weight: bolder;
    font-size: 2.5rem;
    margin-bottom: 10px;
}
#headerBigCenter{
  color: white;
  padding-top: 40px;
  font-family: "Century Gothic", sans;
  font-weight: bolder;
  font-size: 2.5rem;
  margin-bottom: 40px;
}
#centerButton{
  margin-left:16px;
  margin-top:16px;
}
#rightBord{
  float: right;
  text-align: right;
  margin-top: -46px !important;
  margin-right: 13px !important;
}
#leftBoard{
  margin-right: 107px;
}
h1 {
 color:white;
 padding-top:40px;
 font-family:Century Gothic, sans;
 font-size:80;
 font-weight:bolder;
}

#blogHeader{
  font-size: 27.5pt !important;
}
hr.new1 {
  border-top: 2pt solid hotpink;
  width:153.6px;
  float: left;
  margin-bottom: 5px;
}
#BlogDate{
  font-size: 10pt;
  color: gainsboro;
  opacity: 0.69;
  margin-bottom:0rem !important;

}
#BlogText{
  padding-top: 25px;
  font-size: 15pt;

}
p {
 color:white;
 font-size:16;
}
.btn{
    border-radius: 100px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    border-color:hotpink;
    background-color: hotpink !important;
    width: 150px !important;
}
.rightimg  {
  float: right; 
  margin: 7px 0 7px 7px; 
  width: 360px;
  height: 240px;
 }
#HomeButton
{
  margin-right:40px !important;
}
#logoPicture{
   margin-top:100px;
   height:950px;
   width:100%;
   object-fit: cover;
   position: absolute;
}

a{
 color: white;

 
}
#mid{
	padding-top:40%;
}

#leftText{
  text-align: left !important;
}

.img-fluid{
	padding-top:50px;
}

.serviceBox{
 border: 1px solid hotpink;
 margin-top: 30px;
 padding: 25px 20px;
 position: relative;
}



.serviceBox .title{
 font-size: 24px;
 color: white;
  text-align:left;
 
 
}
.serviceBox .description{
 font-size: 16px;
 color: white;
 line-height: 25px;
 font-style: italic;
 font-weight:bolder;
 text-align:left;
 
}
#more{
  font-style: italic;
  margin-left: 300px;
}  

#low{
 font-style: italic;
 font-weight:bolder;
 margin-top: 40px;
}
#hard{
  font-weight:bold;
  text-align: center;

}
#leftCorner{
  float:left;
  text-align: left;
}
#num{
	font-style: normal;
	font-size:60px;
}

td{
  
  color:white;
  font-size:11pt;
}

th{
  float:center;
  text-align: center;
  color:white;
  background-color: rgb(112, 138, 223);
  font-size: 15pt;
}

#headerNname{
  text-align: left;
  font-size: 22pt !important;
  font-weight: 600;
  margin-top: 60px;
}